body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.divisibility {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.divisibilityBody {
  border: 1px solid;
  width: 500px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  margin: 24px;
}

.numList {
  display: flex;
  padding: 0;
}
.numList > li {
  flex: 1;
  list-style-type: none;
  border: 1px solid;
  text-align: center;
  margin: 4px;
  margin-bottom: 0px;
}

.resultList {
  display: flex;
  padding: 0;
}

.resultList > li {
  flex: 1;
  border: 1px solid;
  list-style-type: none;
  height: 20px;
  text-align: center;
  margin: 4px;
  margin-bottom: 0;
}
